body {
  margin: 0;
  padding: 0;
  font-family: menlo, courier, monospace;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
}

.faces canvas {
  width: 100px;
  height: auto;
  margin-right: 0.5rem;
}
